/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    background-color: black;
    color: white;
}

/* Shared Styles */
.primary-color{
    color: #ff0000;
}

/* navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}
nav .nav-icon{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}
.nav-title{
    display: inline;
    justify-content: space-between;
    padding-right: 50px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 28px;
}
nav ul li a{
    text-decoration: none;
}
.nav-button button{
    border: 5px solid #98fd00;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
}
.nav-button button:hover{
    background-color: #70f821;
}
.nav-title a:hover{
    color: greenyellow;
    text-shadow:0 0 30px #aafa5f,0 0 30px #aafa5f;
    transform: scale(1.2);
}

/* images styles */

.image{
    text-align: right;
    margin: 80px 150px 0px 0px;
}
.image img{
    height: 450px;
    border: 5px solid white;
    border-radius: 50%;
}