/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    background-color: black;
    color: white;
}

/* Shared Styles */
.primary-color{
    color: #ff0000;
}

/* navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}
nav .nav-icon{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}
.nav-title{
    display: inline;
    justify-content: space-between;
    padding-right: 50px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 28px;
}
nav ul li a{
    text-decoration: none;
}
.nav-button button{
    border: 5px solid #98fd00;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
}
.nav-button button:hover{
    background-color: #70f821;
}
.nav-title a:hover{
    color: greenyellow;
    text-shadow:0 0 50px #aafa5f,0 0 50px #aafa5f;
    transform: scale(1.2);
}
/* icon styles */
.icon-content .icon{
    font-size: 25px;
}
#icon1 i:hover{
    background: rgb(240, 66, 95);
    border-radius: 5px;
}
#icon2 i:hover{
    background: #042aff;
    border-radius: 5px;
}
#icon3 i:hover{
    background: rgb(0, 109, 252);
    border-radius: 5px;
}
.icon-content{
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

/* images styles */

.myself{
    display: flex;
    gap: 100px;
    text-align: center;
    margin: 60px 150px 0px 0px;
}

.header-title{
    text-align: left;
    margin-left: 150px;
}

.header-title h3{
    font-size: 20px;
    letter-spacing: 3px;
}
.header-title .myname{
    color: #70f821;
    font-size: 72px;
}
#Name{
    margin-bottom: 15px;
}
.myself img{
    height: 380px;
    border: 5px solid rgb(132, 247, 55);
    border-radius: 50%;
}
.myimage{
    background-color: black;
    border: 6px solid #61ebfd;
    box-shadow: 0 0 20px #61ebfd;
    margin-bottom: 25px;
}

.myimage img{
    align-items: center;
    margin: 30px;
    height: 380px;
    width: 380px;
}
.myself .myimage{
    border-radius: 50%;
}

.header-title .title-description{
    letter-spacing: 2px;
    line-height:25px;
    margin-top: 20px;
}
 
/* main styles */

